#page-header {
	border-bottom:$border-break;
	padding-bottom:$row-height;
	margin:$row-height*2 auto; 
}

#site-title {
	@extend %reset;
	float: left; 
	a { 
		@extend %image-replace;
		display:block;
		background:inline-image('title.svg') no-repeat left bottom;
		background-size:contain;
		width:151px;
		height:15px; 
	}
}

.site-logo {
	position: relative;
}

.site-logo h2 {
	position: absolute;
	/*top: 10px;*/
	/*left: 20px;*/
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 0 0 0.7em;
	margin: 0 0 0 0;
}

.site-logo h2 span {
	color: white;
	/*font: bold 38px/58px Helvetica Neue, Sans-Serif;*/
	font-family: Helvetica Neue, Sans-Serif;
	font-weight: bold;
	font-size: 2.0em;
	line-height: 2.5;
	letter-spacing: -1px;
	background: rgb(0, 0, 0); /* fallback colour */
	background: rgba(0, 0, 0, 0.5	);
	padding: 10px;
}

@media only screen and (max-width: 320px) {
	.site-logo h2 {
		padding: 0 0 0 0.2em;
	}
	
	.site-logo h2 span {
		font-size: 1.0em;
	}
}

#site-nav {
	float: right;
	position: relative;
}
	
/*TODO: Shorten name*/	
#menu-primary {
	float: right;
	list-style: none;
	@extend %reset;
	display: block;
	position: relative;
	li {
		@extend %reset;
		margin-right:$gutter-width;
		float: left;
		a {
			display: block;
			height: $row-height;
			font: #{$font-weight-bold} #{$font-size-x-small} #{$typeface-secondary};
			color:$color-midtone;
			&:hover {
				color:$color-off-black;
			}
		}
		&:last-child, &.last { 
			margin-right: 0; 
		}
	}
	.rss, .twitter {
		position:fixed;
		z-index:10000;
		margin-left:400px;
		a {
			width:45px;
			height:45px;
			border-radius:22.5px;
			display:block;
			@extend %image-replace;
			@extend %default-shadow;
		}
	}
	.rss {
		margin-top:-230px;
		a { 
			background:$color-accent inline-image('rss.svg') no-repeat center center;	
			background-size:50%;
		}
	}
	.twitter {
		margin-top:-170px;
		a { 
			background:$color-accent inline-image('twitter.svg') no-repeat center center;
			background-size:60%;
		}
	}
	.rss a:hover, .twitter a:hover {
		background-color:$color-accent-alt;
	}

	@media only screen and (max-width: 320px) {
		.rss, .twitter {
			display: none;
		}
	}
}
