.widget_wp_biographiawidget h3 {
	font-size: 20px;
}

.wp-biographia-widget p {
	font-size: 13px;
}

.wp-biographia-container-top {
	border-top: 2px solid #f0eceb !important;
}

.wp-biographia-text h3 {
	font: italic 20px/1.55 Georgia,serif;
	/*font-size: 20px;*/
}

.wp-biographia-list-text li {
	font-size: 100%;
	font-family: "Helvetica Neue", sans-serif;
}

.wp-biographia-text {
	margin-bottom: 24px !important;
}